html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: monospace;
  scrollbar-color: var(--highlight) var(--highlight-weak);
  scrollbar-width: thin;
  --bg-color: #ffffff;
  --bg-color-secondary: #f0f0f0;
  --text-color: #000000;
  --text-color-dark: #333333;
  --text-color-darker: #666666;
  --text-color-darkest: #999999;
  --line-color: #cccccc;
  --line-color-light: #dddddd;
  --line-color-dark: #bbbbbb;
  --line-color-darker: #aaaaaa;
  --highlight: #00000020;
  --highlight-weak: #00000010;
  --highlight-strong: #00000030;
  --accent-color-coral: #ff7f50;
  --accent-color-red: #ff4500;
}

html.dark {
  --bg-color: #1c2028;
  --bg-color-secondary: #232830;
  --text-color: #d7d8db;
  --text-color-dark: #9196a2;
  --text-color-darker: #7e838e;
  --text-color-darkest: #585c65;
  --line-color: #707070;
  --line-color-light: #b7b7b7;
  --line-color-dark: #4e4e4e;
  --line-color-darker: #3e3e3e;
  --highlight: #ffffff20;
  --highlight-weak: #ffffff10;
  --highlight-strong: #ffffff30;
  --accent-color-coral: #D77073;
  --accent-color-red: #d25446;
}

body {
  margin: 0;
  /* scrollbar-color: red orange; */
}

hr {
  border: none;
  border-top: 0.5px solid var(--line-color);
  margin: 16px 0px;
  padding: 0;
}

input {
  /* margin: 3px 3px 3px 5px; */
}