@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-ai: "Monaspace Neon", monospace;
	--animate-emerge: emerge 0.3s ease-out forwards;
	--animate-fade-in: fade-in 0.3s ease-out forwards;
}

@keyframes emerge {
	from {
		opacity: 0;
		transform: translateY(16px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@font-face {
	font-family: "Monaspace Neon";
	src: url("./fonts/MonaspaceNeon-Regular.woff") format("woff");
}

html {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif;
	font-size: 87.5%;
	font-weight: 400;
	scrollbar-color: var(--highlight) var(--highlight-weak);
	scrollbar-width: thin;
	--bg-color: #ffffff;
	--bg-color-secondary: #f0f0f0;
	--text-color: #000000;
	--text-color-secondary: #4a4a4a;
	--text-color-tertiary: #999999;
	--line-color: #cccccc;
	--line-color-light: #dddddd;
	--line-color-strong: #bbbbbb;
	--line-color-stronger: #aaaaaa;
	--highlight: #00000020;
	--highlight-weak: #00000010;
	--highlight-strong: #00000030;
	--accent-color-coral: #ff7f50;
	--accent-color-red: #ff4500;
	--url-color: #007bff;
}

html.dark {
	--bg-color: #1c2028;
	--bg-color-secondary: #232830;
	--text-color: #d7d8db;
	--text-color-secondary: #b4b6bd;
	--text-color-tertiary: #777d8b;
	--line-color: #707070;
	--line-color-light: #818181;
	--line-color-strong: #4e4e4e;
	--line-color-stronger: #3e3e3e;
	--highlight: #ffffff20;
	--highlight-weak: #ffffff10;
	--highlight-strong: #ffffff30;
	--accent-color-coral: #d77073;
	--accent-color-red: #d25446;
	--url-color: #4da3ff;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1 {
	@apply text-6xl font-medium;
}
h2 {
	@apply text-3xl font-medium;
}
h3 {
	@apply text-xl font-medium;
}
h4 {
	@apply text-lg font-medium;
}
h5 {
	@apply text-base font-medium;
}

.github-icon {
	margin-right: 4px;
	width: 1.1em;
	height: 1.1em;
}

a {
	color: var(--url-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	font-weight: 500;
}

hr {
	border: none;
	border-top: 0.5px solid var(--line-color);
	margin: 16px 0px;
	padding: 0;
}
